<ion-view view-title="User Add" ng-controller="AddCtrl"> 
 <ion-content>  
 <div class="list card">  
 <div class="item item-input">  
	<input type="text" ng-model="contact.name"/>  
 </div>   
 <div class="item item-input">    
 <input type="text" ng-model="contact.email"/>  
 </div>   
 <div class="item item-input">    
	<input type="text" ng-model="contact.number"/>  
	</div>      
    <div class="padding">   
	<button class="button button-block button-positive" ng-click="adduser(contact)">Save</button> 
   </div>   
   </div>  
   </ion-content> 
  </ion-view>